<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LAW FIRM</title>
	<!-- include the site stylesheet -->
	@Styles.Render("~/css/font-awesome.min.css")
	@Styles.Render("~/css/fancybox.css")
	@Styles.Render("~/css/bootstrap.css")
	@Styles.Render("~/css/bootstrap-dialog.min.css")
	@Styles.Render("~/css/all.css")
	@Styles.Render("~/css/jQueryUI/jquery-ui-1.10.4.custom.min.css")
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic%7cRoboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic%7cOpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<style type="text/css">
		.inline li {
			display: inline;
		}

		.inline {
			margin-top: 30px;
			margin-bottom: 10px;
			font-size: 17px;
		}


		#header ul li {
			margin-right: 15px;
		}

		.ProfessionalTitle {
			text-transform: capitalize !important;
		}

		.header-row {
		}
	</style>

</head>
<body>
	@RenderBody()
</body>
</html>
