@model Sitio.Models.ContactModel


<script>

	$(document).ready(function ()
	{
		var hash = window.location.hash;
		if (hash.indexOf('faq') > 0)
		{
			$("#indexLink").removeClass("active");
			$("#faqLink").addClass("active");
		}
		else if (hash.indexOf('services') > 0)
		{
			$("#indexLink").removeClass("active");
			$("#servicesLink").addClass("active");
		}
	});
</script>

<style type="text/css">
	#services .practice-block {
		padding-bottom: 20px;
	}
</style>

<!-- main-gallery of the Page -->
<div class="main-gallery beans-gallery">
	<div class="beans-mask">
		<div class="beans-slideset">
			<div class="beans-slide win-height">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 slide-content  win-min-height">
							<header class="slide-heading2">
								<h1>An unjust law is itself a species of violence. Arrest for its breach is more so.</h1>
							</header>
						</div>
					</div>
				</div>
				<div class="bg-stretch">
					<img src="~/images/img80.jpg" alt="image description">
				</div>
			</div>
			<div class="beans-slide  win-height">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 slide-content  win-min-height">
							<header class="slide-heading2">
								<h1>if there were no bad people, there would be no good lawyers</h1>
							</header>
						</div>
					</div>
				</div>
				<div class="bg-stretch">
					<img src="~/images/obelisco.jpg" alt="image description">
				</div>
			</div>
		</div>
	</div>
	<div class="btn-box">
		<a class="btn-prev" href="#"><i class="fa fa-angle-left"></i></a>
		<a class="btn-next" href="#"><i class="fa fa-angle-right"></i></a>
	</div>
</div>
<!-- contain main informative part of the site -->
<main id="main">
	<!-- container-block of the page -->
	<section id="practiceareas" class="container container-block">
		<header class="row main-heading">
			<div class="col-xs-12">
				<h2>AREAS DE PRACTICA</h2>
			</div>
		</header>
		<!-- services-holder of the page -->
		<div class="row services-holder">
			<div class="col-sm-6 col-xs-12 services-col">
				<div class="img-box"></div>
				<h2>
					<a href="#">Accidentes de tránsito</a>
				</h2>
				<p>
					Inicio del reclamo en el seguro. Negociación extrajudicial y judicial.
					Lesiones, Destrucción total, Poliza impaga, Redacción de cartas documento, etc.
				</p>
				<!--<a href="services.html" class="btn btn-default">Read More +</a>-->
			</div>
			<div class="col-sm-6 col-xs-12 services-col approch">
				<div class="img-box"></div>
				<h2>
					<a href="services.html">Accidentes laborales y enfermedades profesionales</a>
				</h2>
				<p>Cálculo de indemnizaciones por incapacidad física, psiquica, daño moral, etc. Reclamo y representación en juicio ante ART.</p>
			</div>
			@*<div class="col-sm-4 col-xs-12 services-col rules">
					<div class="img-box"></div>
					<h2><a href="services.html">Despidos</a></h2>
					<p>Redacción de telegramas, cartas documento. Demandas laborales. Confección de liquidaciones laborales. Asistencia a audiencias y representación en juicio</p>
				</div>*@
			<!--<div class="col-sm-3 col-xs-12 services-col client">
				<div class="img-box"></div>
				<h2><a href="services.html">Private Client</a></h2>
				<p>Fusce comodo eros quis molestie blandit. Aliquam sollicitudin maximus metus ac ullamcorper.</p>
				<a href="services.html" class="btn btn-default">Read More +</a>
			</div>-->
		</div>
	</section>
	<!-- container block practice of the page -->

	<section class="container container-block practice" id="services">
		<header class="row main-heading">
			<div class="col-xs-12">
				<h2>SERVICIOS QUE BRINDAMOS</h2>
			</div>
		</header>

		<div class="col-xs-12">
			<h3>Accidentes de tránsito</h3>
		</div>
		<!-- practice-block of the page -->
		<div class="row practice-block">
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "accidentesEnTransportePublico"})">
					<span data-picture="" data-alt="image description">
						<span data-src="/SitioAbogacia/images/publico.jpg" data-width="368" data-height="279">
							<img alt="image description" width="368" height="279" src="/SitioAbogacia/images/publico.jpg">
						</span>
						<span data-src="/SitioAbogacia/images/publico.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="/SitioAbogacia/images/publico.jpg"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript>&lt;img src="/SitioAbogacia/images/publico.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					</span>
					<h3>Accidentes en transporte público</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Accidentes en transporte público</strong>
									@*<p>Accidentes en transporte público</p>*@
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "accidentesEnAuto"})">
					<span data-src="/SitioAbogacia/images/transito.jpg" data-width="368" data-height="279">
						<img alt="image description" width="368" height="279" src="/SitioAbogacia/images/transito.jpg">
					</span>
					<span data-src="/SitioAbogacia/images/transito.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
					<!--[if (lt IE 9) & (!IEMobile)]>
						<span data-src="http://placehold.it/368x279"></span>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript>&lt;img src="/SitioAbogacia/images/img80.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					<h3>Accidentes en auto</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Accidentes en auto</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "accidentesEnMoto"})">
					<span data-src="/SitioAbogacia/images/transito.jpg" data-width="368" data-height="279">
						<img alt="image description" width="368" height="279" src="/SitioAbogacia/images/moto.jpg">
					</span>
					<span data-src="/SitioAbogacia/images/moto.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
					<!--[if (lt IE 9) & (!IEMobile)]>
						<span data-src="/SitioAbogacia/images/moto.jpg"></span>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript>&lt;img src="/SitioAbogacia/images/moto.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					<h3>Accidentes en moto</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Accidentes en moto</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row practice-block">
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "accidentesEnBicicleta"})">
					<span data-picture="" data-alt="image description">
						<span data-src="/SitioAbogacia/images/accidentebici.jpg" data-width="368" data-height="279"><img alt="image description" width="368" height="279" src="http://placehold.it/368x279"></span>
						<span data-src="/SitioAbogacia/images/accidentebici.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="/SitioAbogacia/images/accidentebici.jpg"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript>&lt;img src="/SitioAbogacia/images/accidentebici.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					</span>
					<h3>Accidentes en bicicleta</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Accidentes en bicicleta</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "accidentesComoAcompanantes"})">
					<span data-picture="" data-alt="image description">
						<span data-src="/SitioAbogacia/images/acompanante.jpg" data-width="368" data-height="279"><img alt="image description" width="368" height="279" src="http://placehold.it/368x279"></span>
						<span data-src="/SitioAbogacia/images/acompanante.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="/SitioAbogacia/images/acompanante.jpg"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript>&lt;img src="/SitioAbogacia/images/acompanante.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					</span>
					<h3>Accidentes como acompañante</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Accidentes como acompañante</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "accidentesComoPeaton"})">
					<span data-src="/SitioAbogacia/images/peatones.jpg" data-width="368" data-height="279">
						<img alt="image description" width="368" height="279" src="/SitioAbogacia/images/peatones.jpg">
					</span>
					<span data-src="/SitioAbogacia/images/peatones.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
					<!--[if (lt IE 9) & (!IEMobile)]>
						<span data-src="/SitioAbogacia/images/peatones.jpg"></span>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript>&lt;img src="/SitioAbogacia/images/peatones.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					<h3>Accidentes como peatón</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Accidentes como peatón</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row practice-block">
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "choqueSinSeguro"})">
					<span data-picture="" data-alt="image description">
						<span data-src="/SitioAbogacia/images/chocoynoteniaseguro.jpg" data-width="368" data-height="279"><img alt="image description" width="368" height="279" src="http://placehold.it/368x279"></span>
						<span data-src="/SitioAbogacia/images/chocoynoteniaseguro.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="/SitioAbogacia/images/chocoynoteniaseguro.jpg"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript>&lt;img src="/SitioAbogacia/images/chocoynoteniaseguro.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					</span>
					<h3>Chocó y no tenía pago su seguro</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Chocó y no tenía pago su seguro</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "destruccionTotal"})">
					<span data-picture="" data-alt="image description">
						<span data-src="/SitioAbogacia/images/destrucciontotal.jpg" data-width="368" data-height="279"><img alt="image description" width="368" height="279" src="http://placehold.it/368x279"></span>
						<span data-src="/SitioAbogacia/images/destrucciontotal.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="/SitioAbogacia/images/destrucciontotal.jpg"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript>&lt;img src="/SitioAbogacia/images/destrucciontotal.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					</span>
					<h3>Destruccion total</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Destruccion total</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<br /><br /><br /><br />
		<div class="col-xs-12">
			<h3>Accidentes laborales/ART</h3>
		</div>
		<div class="row practice-block">
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "accidentesDeTrabajo"})">
					<span data-picture="" data-alt="image description">
						<span data-src="/SitioAbogacia/images/accidentelaboral.jpg" data-width="368" data-height="279"><img alt="image description" width="368" height="279" src="http://placehold.it/368x279"></span>
						<span data-src="/SitioAbogacia/images/accidentelaboral.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="/SitioAbogacia/images/accidentelaboral.jpg"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript>&lt;img src="/SitioAbogacia/images/accidentelaboral.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					</span>
					<h3>Accidentes en ocasión del trabajo</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Accidentes en ocasión del trabajo</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "accidentesInItinere"})">
					<span data-picture="" data-alt="image description">
						<span data-src="/SitioAbogacia/images/initinere.jpg" data-width="368" data-height="279"><img alt="image description" width="368" height="279" src="http://placehold.it/368x279"></span>
						<span data-src="/SitioAbogacia/images/initinere.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="/SitioAbogacia/images/initinere.jpg"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript>&lt;img src="/SitioAbogacia/images/initinere.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					</span>
					<h3>Accidentes in itinere (camino al trabajo, o de regreso a casa)</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Accidentes in itinere (camino al trabajo, o de regreso a casa)</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 practice-col">
				<a href="@Url.Action("Index", "Services", new {service = "enfermedadesProfesionales"})">
					<span data-picture="" data-alt="image description">
						<span data-src="/SitioAbogacia/images/enfermedadlaboral.jpg" data-width="368" data-height="279"><img alt="image description" width="368" height="279" src="http://placehold.it/368x279"></span>
						<span data-src="/SitioAbogacia/images/enfermedadlaboral.jpg" data-width="368" data-height="279" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span> <!-- retina 2x desktop -->
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="/SitioAbogacia/images/enfermedadlaboral.jpg"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript>&lt;img src="/SitioAbogacia/images/enfermedadlaboral.jpg" width="368" height="279" alt="image description" &gt;</noscript>
					</span>
					<h3>Enfermedades profesionales</h3>
					<div class="over">
						<div class="box">
							<div class="block">
								<div class="frame">
									<strong class="title">Enfermedades profesionales</strong>
									<span class="btn-read">[+]</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	@Html.Partial("Faq")
	@Html.Partial("ContactUs")

</main>
